<br />
<div class= "container"> 
<div class="card border-primary mb-3">
<div class="card-header">
  Déclarer un problème
</div>
<div class="card-body">
  <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
  <div>
      <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom : </label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="prenom" placeholder="Votre prénom ici (obligatoire)" formControlName="prenom" 
                [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && !problemeForm.get('prenom').valid,
                'is-valid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').valid}">
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors">
                  <span *ngIf="problemeForm.get('prenom').errors.minlength">
                    <small class="text-muted">
                      Veuillez entrer plus de charactères.
                    </small>
                  </span>
                  <span *ngIf="problemeForm.get('prenom').errors.required">
                      <small class="text-muted">
                        Merci de saisir votre prénom.
                      </small>
                  </span>                  
                </span>
            </div>
          </div>
      </form>
  </div>
  <!-- <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</a> -->
</div>
</div>
</div>