<br />
<div class= "container"> 
<div class="card border-primary mb-3">
<h5 class="card-header">
  Déclarer un problème
</h5>
<div class="card-body">
  <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
  <div>
      <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom : </label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="prenom" placeholder="Votre prénom ici (obligatoire)" formControlName="prenom" 
                [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors,
                'is-valid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && !problemeForm.get('prenom').errors}">
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors">
                  <span *ngIf="!problemeForm.get('prenom').errors.sansespace">
                      <small class="text-muted">
                        Merci de saisir votre prénom.
                      </small>
                  </span> 
                  <span *ngIf="!problemeForm.get('prenom').errors.longeurMinimum && !problemeForm.get('prenom').errors.required">
                    <small class="text-muted">
                      Veuillez entrer plus de charactères.
                    </small>
                  </span>
                </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="nom" class="col-md-2 col-form-label text-right">Nom : </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="nom" placeholder="Votre nom ici (obligatoire)" formControlName="nom" 
                  [ngClass]="{'is-invalid': (problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && problemeForm.get('nom').errors,
                  'is-valid': (problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && !problemeForm.get('nom').errors}">
                <span class="form-text" *ngIf="(problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && problemeForm.get('nom').errors">
                    <span *ngIf="!problemeForm.get('nom').errors.sansespace">
                        <small class="text-muted">
                            Merci de saisir votre nom de famille.
                        </small>
                    </span> 
                    <span *ngIf="!problemeForm.get('nom').errors.longueurMaximum && !problemeForm.get('nom').errors.required">
                      <small class="text-muted">
                          Veuillez entrer moins de caractères 
                      </small>
                    </span>
                  </span>
              </div>
          </div>
          <div class="form-group row">
            <label for="noTypeId" class="col-md-2 col-form-label text-right">Type de problème : </label>
            <div class="col-sm-10">
              <select class="form-control" id="noTypeId" formControlName="noTypeProbleme"
                [ngClass]="{'is-invalid': (problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && !problemeForm.get('noTypeProbleme').valid,
                'is-valid': (problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && problemeForm.get('noTypeProbleme').valid}">
                <option value="">Sélectionner un type de problème</option>
                <option *ngFor="let cat of typeProblemes" [value]="cat.id">{{cat.descriptionProbleme}}</option>
              </select>
              <span class="form-text" *ngIf="(problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && problemeForm.get('noTypeProbleme').errors">
                  <span *ngIf="!problemeForm.get('noTypeProbleme').valid">
                      <small class="text-muted">
                          Merci de sélectionner un type de problème
                      </small>
                  </span> 
              </span>
            </div>
          </div>
          <!-- Zone bouton radio -->
          <div class="form-group row">
            <div class="col-md-2"></div>
            <label for="choixId" class="col-md-10 col-form-label">Notifiez-moi pour le statut de ma demande :</label>
              <div class="col-md-2"></div>
                <label class="radio-inline">
                  <input type="radio" value="NePasNotifier" id="choixId" formControlName="notification">&nbsp;Ne Pas me Notifier
                </label> 
                &nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                    <input type="radio" value="ParCourriel" id="choixId" formControlName="notification">Par courriel
                </label> 
                &nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                    <input type="radio" value="ParTelephone" id="choixId" formControlName="notification">Par message texte
                </label> 
          </div>
          <!-- Zone de texte TÉLÉPHONE (SMS) -->
          <div class="form-group row">
            <label for="telephoneId" class="col-md-2 col-form-label text-right">Téléphone (SMS) :</label>
            <div class="col-md-10">
              <input class="form-control"
                id="telephoneId"
                type="text"
                placeholder="Entrez 10 chiffres seulement. Par exemple 5141118888"
                formControlName="telephone"
                [ngClass]="{'is-valid': (problemeForm.get('telephone').touched ||
                problemeForm.get('telephone').dirty) &&
                problemeForm.get('telephone').valid , 'is-invalid': (problemeForm.get('telephone').touched ||
                problemeForm.get('telephone').dirty) &&
                !problemeForm.get('telephone').valid }" />
              <span class="form-text" *ngIf="(problemeForm.get('telephone').touched ||
                problemeForm.get('telephone').dirty) &&
                (problemeForm.get('telephone').errors ||
                problemeForm.get('telephone').errors)">
                <span *ngIf="problemeForm.get('telephone').errors?.required">
                  <small class="text-muted">
                  Merci de saisir votre numéro de téléphone.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('telephone').errors?.minlength">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('telephone').errors?.maxlength">
                  <small class="text-muted">
                    Veuillez entrer moins de caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('telephone').errors?.pattern">
                  <small class="text-muted">
                    Merci d'entrer seulement des chiffres.
                  </small>
                </span> 
              </span>
            </div>
          </div>
          <!-- Zone de texte COURRIEL -->
          <div class="form-group row">
              <label for="courrielId" class="col-md-2 col-form-label text-right">Adresse courriel :</label>
              <!-- Indiquer le formGroupName pour avoir accès à formControlName -->
              <div class="col-md-10" formGroupName="courrielsGroup">
                <input class="form-control"
                  id="courrielId"
                  type="email"
                  placeholder="Courriel (obligatoire si notification par courriel)"
                  formControlName = "courriel"
                  [ngClass]="{'is-valid': (problemeForm.get('courrielsGroup.courriel').touched ||
                  problemeForm.get('courrielsGroup.courriel').dirty) &&
                  problemeForm.get('courrielsGroup.courriel').valid,
                  'is-invalid': (problemeForm.get('courrielsGroup.courriel').touched ||
                  problemeForm.get('courrielsGroup.courriel').dirty) &&
                  !problemeForm.get('courrielsGroup.courriel').valid }" />
                <span class="form-text" *ngIf="(problemeForm.get('courrielsGroup.courriel').touched ||
                  problemeForm.get('courrielsGroup.courriel').dirty) &&
                  (problemeForm.get('courrielsGroup.courriel').errors ||
                  problemeForm.get('courrielsGroup').errors)">
                  <span *ngIf="problemeForm.get('courrielsGroup.courriel').errors?.required">
                    <small class="text-muted">
                      Merci d'entrer votre adresse électronique.
                    </small>
                  </span>
                  <span *ngIf="problemeForm.get('courrielsGroup.courriel').errors?.email">
                    <small class="text-muted">
                      S.V.P. entrer les informations dans un format valide.
                    </small>
                  </span>
                </span>
              </div>
          </div>
          <!-- Zone de texte COURRIEL CONFIRMATION -->
          <div class="form-group row">
              <label for="courrielConfirmationId" class="col-md-2 col-form-label text-right">Confirmer courriel :</label>
              <!-- Indiquer le formGroupName pour avoir accès à formControlName -->
              <div class="col-md-10" formGroupName="courrielsGroup">
                <input class="form-control"
                  id="courrielConfirmationId"
                  type="email"
                  placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)"
                  formControlName = "courrielConfirmation"
                  [ngClass]="{'is-valid': (problemeForm.get('courrielsGroup.courrielConfirmation').touched ||
                  problemeForm.get('courrielsGroup.courrielConfirmation').dirty) &&
                  problemeForm.get('courrielsGroup.courrielConfirmation').valid,
                  'is-invalid': (problemeForm.get('courrielsGroup.courrielConfirmation').touched ||
                  problemeForm.get('courrielsGroup.courrielConfirmation').dirty) &&
                  !problemeForm.get('courrielsGroup.courrielConfirmation').valid ||
                  problemeForm.get('courrielsGroup').errors?.match}" />
                <span class="form-text" *ngIf="(problemeForm.get('courrielsGroup.courrielConfirmation').touched ||
                  problemeForm.get('courrielsGroup.courrielConfirmation').dirty) &&
                  (problemeForm.get('courrielsGroup.courrielConfirmation').errors ||
                  problemeForm.get('courrielsGroup').errors)">
                  <span *ngIf="problemeForm.get('courrielsGroup.courrielConfirmation').errors.required">
                    <small class="text-muted">
                      Confirmez votre adresse courriel (la réécrire)
                    </small>
                  </span>
                  <span *ngIf="problemeForm.get('courrielsGroup').errors.courrielConfirmation">
                    <small class="text-muted">
                      Le courriel de confirmation n'est pas le même que le courriel. Le corriger.
                    </small>
                  </span>
                </span>
              </div>
          </div>
          <!-- Zone de texte # Unité -->
          <div class="form-group row">
            <label for="noUniteId" class="col-md-2 col-form-label text-right"># Unité :</label>
              <div class="col-md-10">
                <input class="form-control"
                  id="noUniteId"
                  type="text"
                  placeholder="Numéro de l'unité si connu"
                  formControlName="noUnite" />
            </div>
          </div> 
          <div class="form-group row">
            <label for="descriptionProblemeId" class="col-md-2 col-form-label textright">Description du problème :</label>
            <div class="col-md-10">
              <textarea class="form-control"
                rows="3"
                id="descriptionProblemeId"
                type="text"
                placeholder="Décrire le propblème ici (obligatoire)"
                formControlName="descriptionProbleme"
                [ngClass]="{'is-valid':
              (problemeForm.get('descriptionProbleme').touched ||
              problemeForm.get('descriptionProbleme').dirty) &&
                problemeForm.get('descriptionProbleme').valid,
                'is-invalid': (problemeForm.get('descriptionProbleme').touched
              || problemeForm.get('descriptionProbleme').dirty) &&
                !problemeForm.get('descriptionProbleme').valid }"></textarea>
              <span class="form-text"
                *ngIf="(problemeForm.get('descriptionProbleme').touched ||
                problemeForm.get('descriptionProbleme').dirty) &&
                problemeForm.get('descriptionProbleme').errors">
                <span *ngIf="problemeForm.get('descriptionProbleme').errors.required">
                  <small class="text-muted">
                    N'oubliez pas de décriree le plus clairement possible le problème rencontré.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('descriptionProbleme').errors.minlength">
                  <small class="text-muted">
                    La description du problème doit comporter plus de 5caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>
<!-- Zone de texte # Unité -->
          <div class="form-group row">
            <label for="dateProblemeId" class="col-md-2 col-form-label textright">Date :</label>
            <div class="col-md-10">  
              <input class="form-control"
                id="dateProblemeId"
                type="text"
                formControlName="dateProbleme" />
            </div>
          </div> 
          
          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <span>
                <button class="btn btn-primary"
                type="submit"
                [disabled]="!problemeForm.valid">
                <fa name="save"></fa>
                &nbsp;&nbsp;Sauvegarder
                </button>
              </span>
            </div>
          </div>
                    
      </form>
  </div>
  <!-- <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</a> -->
</div>
</div>
</div>