<br />
<div class= "container"> 
<div class="card border-primary mb-3">
<div class="card-header">
  Déclarer un problème
</div>
<div class="card-body">
  <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
  <div>
      <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom : </label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="prenom" placeholder="Votre prénom ici (obligatoire)" formControlName="prenom" 
                [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && !problemeForm.get('prenom').errors.longeurMinimum,
                'is-valid': (problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors.longeurMinimum}">
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors">
                  <span *ngIf="!problemeForm.get('prenom').errors.sansespace">
                      <small class="text-muted">
                        Merci de saisir votre prénom.
                      </small>
                  </span> 
                  <span *ngIf="!problemeForm.get('prenom').errors.longeurMinimum && !problemeForm.get('prenom').errors.required">
                    <small class="text-muted">
                      Veuillez entrer plus de charactères.
                    </small>
                  </span>
                </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="nom" class="col-md-2 col-form-label text-right">Nom : </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="nom" placeholder="Votre nom ici (obligatoire)" formControlName="nom" 
                  [ngClass]="{'is-invalid': (problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && !problemeForm.get('nom').errors.longueurMaximum,
                  'is-valid': (problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && problemeForm.get('nom').errors.longueurMaximum}">
                <span class="form-text" *ngIf="(problemeForm.get('nom').touched || problemeForm.get('nom').dirty) && problemeForm.get('nom').errors">
                    <span *ngIf="!problemeForm.get('nom').errors.sansespace">
                        <small class="text-muted">
                            Merci de saisir votre nom de famille.
                        </small>
                    </span> 
                    <span *ngIf="!problemeForm.get('nom').errors.longueurMaximum && !problemeForm.get('nom').errors.required">
                      <small class="text-muted">
                          Veuillez entrer moins de caractères 
                      </small>
                    </span>
                  </span>
              </div>
          </div>
          <div class="form-group row">
            <label for="noTypeId" class="col-md-2 col-form-label text-right">Type de problème : </label>
            <div class="col-sm-10">
              <select class="form-control" id="noTypeId" formControlName="noTypeProbleme"
                [ngClass]="{'is-invalid': (problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && !problemeForm.get('noTypeProbleme').valid,
                'is-valid': (problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && problemeForm.get('noTypeProbleme').valid}">
                <option value="">Sélectionner un type de problème</option>
                <option *ngFor="let cat of typeProblemes" [value]="cat.id">{{cat.descriptionProbleme}}</option>
              </select>
              <span class="form-text" *ngIf="(problemeForm.get('noTypeProbleme').touched || problemeForm.get('noTypeProbleme').dirty) && problemeForm.get('noTypeProbleme').errors">
                  <span *ngIf="!problemeForm.get('noTypeProbleme').valid">
                      <small class="text-muted">
                          Merci de sélectionner un type de problème
                      </small>
                  </span> 
              </span>
            </div>
          </div>
      </form>
  </div>
  <!-- <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</a> -->
</div>
</div>
</div>